<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      รูปภาพ
    </ion-title>
  </ion-toolbar>
  <ion-content>
<ion-img src ="../../assets/ing/399407411_653818246901545_3742253784143795242_n.jpg"></ion-img>
</ion-content>
<ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      </ion-buttons>
     <ion-button expand="full" shape="round" (click)="gotoAbout()">
      <ion-icon name="ellipsis-vertical-outline"></ion-icon>
    เกี่ยวกับเรา
  </ion-button>
  <ion-button expand="full" shape="round" (click)="gotocontact()">
    <ion-icon name="call-outline"></ion-icon>
    ติดต่อ
  </ion-button>
  </ion-toolbar>
</ion-header>




